/* App.js */


.flex-position {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
/* Projects.js */

.projects-mike {
  width: 406px;
  height: 901px;
  background-color: gray;
  margin: 20px;
}
